<html>
	<body>
		<% @produto.errors.full_messages.each do |message|%>
			<div class="alert alert-danger" role="alert">
				<%= message %>
			</div>
		<% end %>
		<%= render partial: 'form', locals: { texto_da_acao: 'Atualizar o produto'} %>
	</body>
</html>